/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body */
body {
  @apply m-0 font-sans antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  @apply text-[28px] font-bold relative;
}

h3::before {
  content: "";
  @apply absolute bottom-[-2px] left-0;
  background-color: #f86d72;
  height: 5px;
  width: 140px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
